*{
    box-sizing:border-box;
}

.row {
    border: solid 1px red;
    height: 150px;
    font-size: 0px;
}
.col {
    border: solid 2px black;
    display: inline-block;
    width: 33.33%;
    height: 100%;

}
.col2 {
    border: solid 2px green;
    height: 100%;
    width: 100%;
    display: inline-block;
}

.row2 {
    border: solid 2px orange;
    height: 50%;
    width: 50%;
    
}
.col3 {
    border: solid 2px yellow;
    height: 100%;
    width: 33.33%;
    display: inline-block;
}

.row3 {
    border: solid 2px teal;
    height: 50%;
    width: 100%;
}

.icol3 {
    border: solid 2px magenta;
    height: 100%;
    width: 50%;
    display: inline-block;
}

.row4 {
    border: solid 2px grey;
    height: 33.33%;
    width: 100%;
}
.col4 {
    border: solid 2px brown;
    height: 100%;
    width: 50%;
    display:inline-block;
}
.row5 {
    border: solid 2px tomato;
    height: 50%;
    width: 100%;
}
.row6 {
    border: solid 2px blue;
    height: 50%;
    width: 100%;
}
