body{
    margin:0;
    font-family:Arial;
    background:linear-gradient(75deg,rgb(118, 118, 200),rgb(199, 199, 145));
    color:whitesmoke;
    display:flex;
    justify-content:center;
    padding:20px
}

.container{
    max-width:650px;
    width:100%;
    text-align:center
}

h1{
    border: solid,2px,red;
    width: 200px;
    background:red;
    margin: 0 auto 20px;
    border-radius: 15px;
}

.hud{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin:15px 0
}

#timer{
    margin:10px;
    font-size:22px
}

#board{
    display:grid;
    grid-template-columns:repeat(7,80px);
    gap:8px;
    background:#0b53d0;
    padding:10px;
    border-radius:16px;
    justify-content:center
}

.cell{
    width:80px;
    height:80px;
    border-radius:50%;
    background:#fff;
    cursor:pointer;
    transition:.2s
}

.red{background:#e53935}.yellow{background:#fdd835}
.win{box-shadow:0 0 20px #fff;
    animation:pulse .8s infinite
}
@keyframes pulse{50%{transform:scale(1.08)}}
button{
    padding:10px 18px;
    margin:10px;
    border:none;
    border-radius:8px;
    cursor:pointer}
@media(max-width:620px){
    #board{grid-template-columns:repeat(7,1fr)}.cell{width:calc((100vw - 120px)/7);
        height:calc((100vw - 120px)/7)}}
